ShoeStoreWithRedux/Features/Home/.swiftpm/xcode/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
ShoeStoreWithRedux/Features/ProductDetails/.swiftpm/xcode/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
ShoeStoreWithRedux/Features/ShoppingCart/.swiftpm/xcode/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
ShoeStoreWithRedux/Application/.swiftpm/xcode/xcuserdata/max.xcuserdatad
xcschememanagement.plist
